@font-face{
font-family:"PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
display: swap;
}

@font-face{
    font-family:"PT Sans";
    font-style:"normal";
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family:"PT Sans" , sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background-color: #fff;
    color: #000;

}

/* Pages */
.page-header{
    color:#FFFFFF;
    background-color:#FFFFFF;
}
.navigation-link{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color:#000000;
}
.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.main-index {
    background-image: url("../images/landscape.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
/* List */
.advantages-list{
    font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
/* Title */
.advantages-title {
    font-family:"PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-description {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.general-description{
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}
.contact-phone {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.page-footer{
    width: 1200px;
    height: 120px;
    background: #FFFFFF;

}

.catalog-header-title{
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}
.breadcrumbs-link{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}
.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.control-input{
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
}
.button-submit{
    background-color: #82B3D3;
}
.button-light{
background-color: #FFFFFF;
}
.hotel-card-title{
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-align: left;
color: #000000;
text-transform: capitalize;
}
.hotel-card-price{
text-align: right;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.pagination{
    font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #82B3D3;
}
.pagination-link{
    width: 60px;
height: 60px;
background: #82B3D3;
border-radius: 4px;
}
